/Animal.class
/Artikel.class
/Base.class
/Bird.class
/Car.class
/Cat.class
/Derived.class
/Dog.class
/Esel.class
/ExpressLieferung.class
/Fallbeispiel.class
/FlyaFlugfaehigble.class
/Flyable.class
/Interfaces.class
/Maultier.class
/MehrfacheVererbung.class
/OnlineShop.class
/Pferd.class
/Plane.class
/Quiz.class
/StandardLieferung.class
/Vehicle.class
/Versand.class
/Vogel.class
/Warenkorb.class
