/AkadamischesTitle.class
/Anrede.class
/Autor.class
/Base.class
/Binding.class
/Buch.class
/Derived.class
/Fallbeispiel.class
/Jahreszeiten.class
/Ladegeraet.class
/Muenze.class
/NichtLadend.class
/NormalLadend.class
/SchnellLadend.class
/Test.class
/Zustand.class
